@inherits CommonIndexBase
<h1>CommonIndex Test</h1>

<input type="file" @ref="@inputElement" />
<br /><br />
<input type="checkbox" @bind="@DebugOutput" id="useDebugOutput" />
<label for="useDebugOutput">Debug output</label><br />
<input type="checkbox" @bind="@UseBufferSize" id="useBufferSizeCheck" />
<label for="useBufferSizeCheck">Use buffer size</label>
<input type="number" @bind="@BufferSize" alt="buffersize" placeholder="Buffer size" />
<br /><br />
<button @onclick="@HashFile" class="btn btn-primary">Hash SHA256 of file - chunked</button>
<button @onclick="@HashFileRam" style="margin-left:20px;" class="btn btn-primary">Hash SHA256 of file - full-ram</button>
<br /><br />

<h3>Log output</h3>
<textarea style="max-width: 100%;" cols="50" rows="20">@Output</textarea>